* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0; /* Stick to the top */
  left: 50%; /* Move to the center horizontally */
  transform: translateX(-50%); /* Shift back by 50% of its own width */
  width: 35%;
  padding: 0 0 20px 0;
  z-index: 1000; /*Make sure it's on top of other content*/
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px 0;
  gap: 20px;
  font-size: 20px;
  color: #4791c3;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #4791c3;
  opacity: 0.5;
}

.middle {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: calc(100vw-100px);
  background-image: url(assests/main.jpg);
  background-size: cover;
  background-position: center;
}

.content {
  z-index: 10;
}

.middle h1 {
  font-size: 100px;
  color: white;
}

.middle h2 {
  font-size: 50px;
  color: #a0c8db;
}

.middle button {
  margin-top: 20px;
  font-size: 20px;
  border: 2px solid white;
  background-color: transparent;
  padding: 20px;
  border-radius: 40px;
}
